.header {
  margin-top: 40px;
  .header-text {
    justify-content: space-between;
    li {
      max-width: 306px;
      a {
        color: #d1d1d1;
        &:hover {
          color: #d1d1d1b2;
        }
      }
    }
  }
}
