.intro {
  background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/c27fbb36c5c2d076b620b44a675273de5878e7d8/2023week2/background-img.png);
  background-size: cover;
  background-position: center center;
  padding: 160px 0;
  .intro-text {
    width: 526px;
    h2 {
      font-size: $font-2xl;
    }
    p {
      font-size: $font-m;
    }
  }
  .intro-img {
    width: 746px;
    justify-content: space-between;
  }
}
