.wrap {
  max-width: 1296px;
  margin: 0 auto;
}
.container {
  display: flex;
}

.mb-36 {
  margin-bottom: 36px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mr-134 {
  margin-right: 134px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mr-16 {
  margin-right: 16px;
}

.mb-28 {
  margin-bottom: 28px;
}

.mb-76 {
  margin-bottom: 76px;
}
