/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Bruno Ace SC", cursive, "Noto Sans TC", sans-serif;
  background: #000;
  color: #fff;
}

.wrap {
  max-width: 1296px;
  margin: 0 auto;
}

.container {
  display: flex;
}

.mb-36 {
  margin-bottom: 36px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mr-134 {
  margin-right: 134px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mr-16 {
  margin-right: 16px;
}

.mb-28 {
  margin-bottom: 28px;
}

.mb-76 {
  margin-bottom: 76px;
}

.mr-16 {
  margin-right: 16px;
}

.header {
  margin-top: 40px;
}
.header .header-text {
  justify-content: space-between;
}
.header .header-text li {
  max-width: 306px;
}
.header .header-text li a {
  color: #d1d1d1;
}
.header .header-text li a:hover {
  color: rgba(209, 209, 209, 0.6980392157);
}

.banner {
  justify-content: space-between;
  padding: 72px 0;
}
.banner .banner-img {
  width: 636px;
  height: 848px;
}
.banner .banner-text {
  max-width: 636px;
  flex-direction: column;
  justify-content: center;
}
.banner .banner-text p {
  font-size: 64px;
}
.banner .banner-text h2 {
  font-size: 64px;
}
.banner .banner-text .banner-right {
  flex-direction: column;
  align-items: flex-end;
}
.banner .banner-text .banner-right h1 {
  font-size: 128px;
  color: #00ffa3;
}
.banner .banner-text .banner-right .banner-btn {
  width: 185px;
  padding: 12px 24px;
  border-radius: 32px;
  background-color: #fff;
  text-align: right;
}
.banner .banner-text .banner-right .banner-btn:hover {
  background-color: rgba(255, 255, 255, 0.6980392157);
}
.banner .banner-text .banner-right .banner-btn p {
  font-size: 16px;
  text-align: center;
}
.banner .banner-text .banner-right .banner-btn span {
  width: 24px;
  height: 24px;
}

.intro {
  background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/c27fbb36c5c2d076b620b44a675273de5878e7d8/2023week2/background-img.png);
  background-size: cover;
  background-position: center center;
  padding: 160px 0;
}
.intro .intro-text {
  width: 526px;
}
.intro .intro-text h2 {
  font-size: 64px;
}
.intro .intro-text p {
  font-size: 24px;
}
.intro .intro-img {
  width: 746px;
  justify-content: space-between;
}

.aboutme {
  background: #ffffff;
  color: #15161d;
  padding: 160px 0;
}
.aboutme .about {
  justify-content: space-between;
}
.aboutme .about .about-card {
  justify-content: space-between;
  flex-wrap: wrap;
  width: 636px;
}
.aboutme .about .about-card li {
  width: 306px;
  padding: 16px;
  border: 1px solid #e3e3e3;
}
.aboutme .about .about-text {
  width: 526px;
}
.aboutme .about .about-text h2 {
  font-size: 64px;
  color: #000;
}
.aboutme .about .about-text p {
  font-size: 24px;
}

.about-card li h3 {
  font-size: 20px;
}

.contact {
  background-image: linear-gradient(180deg, #050014 0%, #01021e 100%);
  padding: 96px 0;
}
.contact .contactme {
  justify-content: space-between;
  align-items: center;
}
.contact .contactme .contact-text h2 {
  font-size: 64px;
}
.contact .contactme .contact-img img:hover {
  box-shadow: 0px 0px 16px 3px rgba(144, 148, 255, 0.9);
  border-radius: 40px;
}

.myproject {
  background: #ffffff;
  color: #15161d;
  padding: 160px 0;
}
.myproject h2 {
  font-size: 64px;
  color: #000;
  padding-left: 580px;
}
.myproject .project {
  justify-content: space-between;
}
.myproject .project .project-img {
  width: 416px;
  height: 530px;
}
.myproject .project .project-box {
  width: 856px;
}

.project-text {
  justify-content: space-between;
}
.project-text .text-img {
  width: 196px;
  height: 196px;
}
.project-text .text {
  width: 636px;
}
.project-text .text a {
  background: #000;
  display: block;
  color: #fff;
  padding: 12px 24px;
  width: 190px;
  border-radius: 32px;
  text-align: center;
}
.project-text .text a:hover {
  background: rgba(0, 0, 0, 0.6980392157);
}
.project-text .text a p {
  display: inline;
  width: 109px;
}
.project-text .text a img {
  display: inline;
  width: 24px;
  height: 24px;
}

.footer {
  padding: 40px 0;
  text-align: center;
}/*# sourceMappingURL=all.css.map */